*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  /* margin: 0; */
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

.ul{
  margin: 0 auto;
  width: 300px;
  text-align: center;
  list-style: none;
  
}
.avatar {
  border-radius: 10px;
}

.item {
  display: flex;
  align-items: center;
border: 2px solid rgb(223, 219, 219);
border-radius: 3px;
margin: 10px;
box-shadow: 10px 10px 5px grey;
background-color: rgb(255, 255, 255);
}

.name {
  display: inline-block;
  width: 100px;
  margin: 15px;
  margin: 0 auto;
  border-radius: 3px;
  text-align: center;
}

.status {
  display: block;
  border: 1px solid rgb(216, 216, 216);
  border-radius: 15px;
  width: 5px;
  height: 5px;
  padding: 5px;
  margin: 10px;
  font-size: 0px;
  background-color: rgb(41, 133, 49);
}

.offLine {
  composes: status;
  background-color: rgb(255, 0, 0);
}
